*.py[co]

# Vim
*.swp

# Packages
*.egg
*.egg-info
dist
build
eggs
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

#Translations
*.mo

# Sphinx
docs/_*
